$colors: (
    primary: (
        100: hsl(228, 100%, 66%),
        200: hsl(228, 100%, 75%),
        300: hsl(228, 22%, 26%),
        400: hsl(229, 22%, 19%),
        500: hsl(227, 14%, 52%),
    ),
    accent: (
        100: hsl(0, 83%, 65%),
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsl(228, 100%, 95%),
        300: hsl(228, 100%, 91%),
        400: hsl(0, 0%, 95%),
        500: hsl(229, 14%, 76%),
        600: hsl(0, 0%, 0%),
    ),
);
