$type-scale: (
    large: (
        300: 1rem,
        400: 1.125rem,
        500: 1.25rem,
        800: 2.5rem,
        900: 3.5rem,
    ),
    medium: (
        400: 1rem,
        900: 2.5rem,
    ),
);
