@font-face {
  font-family: "kumbh_sans";
  src: url("/fonts/KumbhSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "kumbh_sans";
  src: url("/fonts/KumbhSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
